*.suo
*.VC.db
*.vcxproj.user
Misc/vq_pak/vkquake.pak
Quake/*.dll
Quake/*.o
Quake/history.txt
Quake/id1/
Quake/vkquakevr
Quake/vkQuakeVR.exe
Quake/vkQuakeVR.res
Windows/VisualStudio/Build-vkQuakeVR/
Windows/VisualStudio/id1/
Shaders/Compiled/*spv
Shaders/bintoc.exe
Shaders/bintoc.obj
